@red: rgb(173, 97, 100);
@orange: rgb(164, 104, 76);
@yellow: rgb(131, 119, 62);
@green: rgb(84, 130, 83);
@cyan: rgb(0, 133, 138);
@blue: rgb(85, 120, 175);
@violet: rgb(129, 109, 164);
@magenta: rgb(146, 104, 155);
@tone15: rgb(25, 38, 59);
@tone20: rgb(37, 49, 67);
@tone45: rgb(102, 107, 111);
@tone50: rgb(116, 120, 121);
@tone60: rgb(144, 145, 140);
@tone65: rgb(159, 159, 150);
@tone90: rgb(234, 227, 201);
@tone95: rgb(250, 241, 212);

@black: @tone20;
@white: @tone95;

body {
  background-color: @white;
  color: @tone50;
}
