/*
width(6, 6.5) => 46.5
width(5, 8.1) => 46.5
width(4, 10.5) => 46.5
width(3, 14.5) => 46.5
width(2, 22.5) => 46.5

lines(6, 2) => 25.5
lines(5, 3) => 28.5
lines(4, 4) => 28.5
lines(3, 6) => 30
lines(2, 9) => 28.5
lines(1, 19) => 28.5
*/
@import "media-sizes";
@import "color";

@default-outer-margin: 1.5rem;
@default-inner-margin: 1.5rem;

@default-grid-count: 3;
@default-grid-span: 3;
@default-grid-width: 48rem;
@default-grid-height: 9rem;

.grid(@count: @default-grid-count;
      @span: 1;
      @width: @default-grid-width;
      @height: @default-grid-height;) {
  margin: 0 auto @default-inner-margin auto;
  width: @width;
  height: @height;
  &:last-child {
    margin-bottom: 0;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body>section>div,
body>section>main>div,
body>header,
body>footer>div {
  .grid();
}

@dev-module-color: fadeout(@blue, 85%);
@default-module-count: 3;
@default-module-span: 3;
@default-module-width: 15rem;
@default-module-height: 9rem;

.module(@count: @default-module-count;
        @span: 1;
        @width: @default-module-width;
        @height: @default-module-height;
        @margin: 0 @default-inner-margin 0 0;
        @padding: 0;) {
  float: left;
  width: @width;
  height: @height;
  margin: @margin;
  padding: @padding;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body>section>div>*,
body>section>main>div>*,
body>header>*,
body>footer>div>* {
  .module();
  &:first-child {
    .module(
      @width: 15rem;
      @height: 9rem;
    );
    margin-left: 0;
  }
  &:last-child {
    .module(
      @width: 31.5rem;
      @height: 9rem;
    );
    margin-right: 0;
  }
  & when (@dev) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/rectangle.svg');
    overflow: hidden;
  }
}
