body {
  color: #656b6f;
  background-color: rgba(244, 241, 231, 1);
}

h1 {
  color: #253043;
  font-weight: 900;
}

h3 {
  color: #a4684c;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.125em;
}

h4 {
  color: #656b6f;
  text-transform: uppercase;
  font-variant: small-caps;
}

h5 {
  color: #5578af;
}

address {
  font-style: italic;
}

a {
  color: #5578af;
  text-decoration: none;
}

blockquote {
  color: #8c6093;
}
