@sans-serif-typeface: 'Lato', Helvetica, sans-serif;
@slab-serif-typeface: 'Aleo', serif;

body {
  font-family: @slab-serif-typeface;
}

h1 {
  font-family: @slab-serif-typeface;
}

h2, h3 {
  font-family: @sans-serif-typeface;
}
