@import "../main";
@import "../media-sizes";
@import "../grids";
@import "../color";

section.three-qualities {
  // .page(@background: @black);
  &>h2 { display: none; }
}

section.three-qualities>* {
  .grid(@count: 3; @span: 1);
  &>h2, h3, h4, h5, p {
    // font-size: 3rem;
    // line-height: 3rem;
  }
  &>h3 {
    font-weight: 400;
  }
  &>p {
    font-weight: 100;
  }
}

section.three-qualities>*>* {
  &:first-child {
    .module(
      @width: 15rem;
      @height: 9rem;
    );
    margin-left: 0;
  }
  &:last-child {
    .module(
      @width: 31.5rem;
      @height: 9rem;
    );
    margin-right: 0;
  }
}
